<!--header start-->
<section class="app2 header overflow-unset" id="home">
  <div class="app2-header bg">
      <div class="container">
          <div class="row">
              <div class="col-xl-7 col-md-6">
                  <div class="center-text">
                      <div>
                          <h6 class="header-top-line">Checkpoint App</h6>
                          <div class="header-text">
                              <h1>The best <span class="bold-text">Application</span> for your daily activities</h1>
                          </div>
                          <div class="header-sub-text">
                              <p class="text-white">You can manage your schedule for today, tommorow,
                              one month, a year, a decade, of course if this website still available</p>
                          </div>
                          <div class="link-horizontal">
                              <ul>
                                  <li>
                                      <a class="btn btn-default btn-white">Create an Account</a>
                                  </li>
                                  <li>
                                      <a class="btn btn-default primary-btn transparent">My Schedule</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-5 col-md-6">
                  <div class="img-mobile set-abs">
                      <img src="assets/images/app_landing2/h2-mobile.png" alt="" class="headaer-image">

                  </div>
                  <div class="wave-orange"></div>
              </div>
          </div>
      </div>
      <div class="wave"></div>
  </div>
</section>
<!--header end-->
